@model StudenteViewModel

@if (Model.Studenti != null && Model.Studenti.Count() > 0)
{
    <table id="studentiTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Data di nascita</th>
                <th>Email</th>
                <th>Dettagli</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var studente in Model.Studenti)
            {
                <tr>
                    <td>@studente.Name</td>
                    <td>@studente.Cognome</td>
                    <td>@studente.DataNascita</td>
                    <td>@studente.Email</td>
                    <td>
                        <button class="btn btn-warning" onclick="showEditModal('@studente.Id')">Modifica</button>
                        <button class="btn btn-danger" id="deleteBtn" onclick="showDeleteModal('@studente.Id')">Elimina</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-danger">Nessuno studente presente</p>
}
